#head {
    text-align: center;
}

#main {
  font-size: 30px;
  color: black;
  border: 2 px solid teal;
  text-align: center;
}

#bio {
  font-size: 24px;
  color: black;
  text-align: center;
}

#fav {
  font-size: 24px;
}

.class {
  margin: 20px 10px 10px 20px;
  background-color: red;
}
